<div class="card mb-3">
  <div class="card-header">{% t widget.switchlang %}</div>
  <div class="card-body">
    <div class="input-group">
      <select class="custom-select" onChange="window.location=this.options[this.selectedIndex].value">
        {% for lang in site.languages %}
          <option value="{{ site.url }}/{% if lang != 'ru' %}{{ lang }}{% endif %}" {% if site.lang == lang %}selected{% endif %}>{{ lang }}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="far fa-language fa-fw"></i>
        </span>
      </div>
    </div>
  </div>
</div>