<div class="card mb-3" style="width: 14rem;">
  <div class="card-header py-2">
    Где меня найти
  </div>
  <div class="card-body">
    <a href="https://github.com/{{ site.username.github }}" class="btn btn-block btn-dark text-left" target="_blank">
      <i class="fab fa-github pr-2"></i>  GitHub
    </a>
    <a href="https://github.com/{{ site.username.gitlab }}" class="btn btn-block btn-dark text-left" target="_blank">
      <i class="fab fa-gitlab pr-2"></i>  GitLab
    </a>
    <!--<a href="https://github.com/{{ site.username.bitbucket }}" class="btn btn-block btn-dark text-left" target="_blank">
      <i class="fab fa-bitbucket pr-2"></i>  BitBucket
    </a>-->
    <a href="https://twitter.com/{{ site.username.twitter }}" class="btn btn-block btn-dark text-left" target="_blank">
      <i class="fab fa-twitter pr-2"></i>  Twitter
    </a>
    <!--<a href="https://facebook.com/{{ site.username.facebook }}" class="btn btn-block btn-dark text-left" target="_blank">
      <i class="fab fa-facebook pr-2"></i>  Facebook
    </a>-->
    <a href="https://vk.com/{{ site.username.vkontakte }}" class="btn btn-block btn-dark text-left" target="_blank">
      <i class="fab fa-vk pr-2"></i>  VKontakte
    </a>
  </div>
</div>